body {
  height: 100vh;
/*   background: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);*/  
  background-color: #121f3d;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.todo-counter {
  color: #33b1ff;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;

}
.todo-search-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.todo-search {
  background-color: #03091e;
  border: 1px solid #40587c;
  width: 350px;
  padding: 0.5rem 1rem;
  color: #eff3f8;
  font-size: .875rem;
  border-radius: 8px;
  outline: none;
  letter-spacing: 0.5px;
}
.todo-search::placeholder{
  color: #243e7b;
}
.todo-list {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.todo-list ul {
  list-style: none;
  padding: 0;
}
.todo-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin: 0.5rem 0;
  max-width: 400px;
  background-color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.todo-list ul li .todo-item--text, .todo-list ul li .todo-item--check, .todo-list ul li .todo-item--delete {
  padding: 0 1rem;
} 
.todo-list ul li .todo-item--checked {
  color: green;
}
.todo-list ul li .todo-item--check{
  cursor: pointer;
}
.todo-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 9;
  outline: none;
  border: none;
  background-color: #98ca3f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.1rem 0.5rem;
  display: block;
  margin: auto;
  font-size: 1.6rem;
  cursor: pointer;
}
.todo-list ul li .todo-item--completed {
  text-decoration:line-through;
  color: green;
}
.todo-list ul li .todo-item--delete:hover {
  color: red;
  cursor: pointer;
}